<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
		<title>{{title}}</title>
	</head>
	<body style="margin: 0; padding: 0; font-family: Montserrat, sans-serif; background-color: #f4f4f4;">
		<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#f4f4f4">
			<tr>
				<td align="center">
					<table width="600" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="margin: 20px 0; border-radius: 8px; overflow: hidden;">
						{{> header}}

						<tr>
							<td align="center" style="padding: 30px 40px 20px;">
								<h2 style="color: #007BDB;">Hola {{businessName}}</h2>
								<h3 style="color: #333;">¡Tienes una sesión de trabajo finalizada!</h3>
								<p style="color: #555; font-size: 16px; line-height: 1.5;">
									El experto <strong>{{expertName}}</strong> ha publicado la sesión de trabajo del día <br>
									<strong>{{sessionDateTime}}</strong>.
								</p>
								<p style="color: #333; font-size: 16px;">
									Para aprobar la sesión de trabajo haz click en el siguiente enlace:
								</p>
								<a href="{{url}}" style="color: #007BDB; font-size: 16px; font-weight: bold; text-decoration: underline; display: inline-block; margin-bottom: 20px;">
									Aprobar sesión
								</a>
								<p style="color: #FF0000; font-weight: bold;">¡No olvides revisar toda la información!</p>
							</td>
						</tr>
						<tr>
							<td style="padding: 20px 40px;">
								<p style="color: #555; font-size: 16px; line-height: 1.5;">
									Si tienes alguna pregunta ponte en contacto con el experto y/o líder del programa.
								</p>
							</td>
						</tr>

						{{> footer}}
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
